<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul> 
        <li>
           <h1> Colegio Primario Escuela N°4</h1>- <h3>(2003-2009)</h3></li>
        <p></p>
        <br/>
    </ul>
    <ul> 
        <li>
           <h1> Colegio Secunadario Ciudad de Santa Rosa</h1>- <h3>(2010-2015)</h3></li>
        <p></p>
        <br/>
    </ul>
    <ul> 
        <li>
           <h1> Actualmente Cursando Universidad Nacional de La Pampa</h1>- <h3>(2022)</h3></li>
        
           <p>Profesorado en Computacion 1° Año</p>
    </ul>
    </div>
    </div>
