<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul> 
        <li>
           <h1> Estudios 1</h1>- <h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis repudiandae, sint ipsa a enim consectetur at. Quis possimus consequuntur expedita atque vero placeat? Facilis ducimus non tempora autem molestiae nulla.</p>
    </ul>
    <ul> 
        <li>
           <h1> Estudios 2</h1>- <h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis repudiandae, sint ipsa a enim consectetur at. Quis possimus consequuntur expedita atque vero placeat? Facilis ducimus non tempora autem molestiae nulla.</p>
    </ul>
    <ul> 
        <li>
           <h1> Estudios 3</h1>- <h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis repudiandae, sint ipsa a enim consectetur at. Quis possimus consequuntur expedita atque vero placeat? Facilis ducimus non tempora autem molestiae nulla.</p>
    </ul>
    </div>
    </div>
