<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/image (1).jpg"  
     class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
            <p id="nombre" >Cuevas Facundo Ariel</p>
            <p id="titulo" >Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca-de">
            <span> 
                <h1>Acerca de mí</h1>
                <p> Hola soy Facundo, me encanta el mundo de la tecnologia y todas sus ramas,
                    por eso incursiono siendo autodidacta como por medio de instituciones, actualmente me encuentro en la universidad cursando profesorado en computacion 
                    y en mis tiempos libres sigo adquieriendo conocimineto de cursos online.  </p>
            </span>
        </div>
  </div>
