<div class="row">
<h1>Experiencia Laboral </h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul> 
    <li>
       <h1> Policia de la provincia</h1>- <h3>(2018-2019)</h3></li>
    <p>Trabaje y me capacite en diversas areas dentro de la policia pronvicial pampeana,desempeñando el rol como agente de Policia </p>
</ul>
<ul> 
    <li>
       <h1>Instructor de manejo</h1>- <h3>(2019-2022)</h3></li>
    <p>Ejerci como instructor de manejo en un academia de conduccion </p>
</ul>
<!-- <ul> 
     <li>
     <h1> Futuro cambio</h1>- <h3>(years)</h3></li>
    <p>Ejemplo</p>
</ul>  -->
</div>
</div>
